.block {
    margin-bottom: 32px;
  }
  
  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  
  .wrapper {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button {
    flex: 1;
    padding: 10px 0;
    background: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
  }
  
  .button:not(:last-child) {
    border-right: 1px solid #ddd;
  }
  
  .button:hover {
  
  }
  
  .active {
    background: #0f3d7a;
    color: #fff;
    font-weight: 600;
  }
  