.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  
  .center {
    text-align: center;
    padding: 60px 0;
    color: #666;
    font-size: 15px;
  }
  
  /* Tablet */
  @media (max-width: 1200px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }

   @media (max-width: 480px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
    /* @media (max-width: 367px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      
    }
  } */  
  